:root {
    font-family: Roboto, Arial, sans-serif;
    font-size: 22px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

body {
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 2rem;
}

.gameboard {
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 4px;
    background-color: lightgray;
    width: 400px;
    height: 400px;
}

.field {
    background-color: lightsalmon;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

form > div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.start-btn {
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 0.5rem 1rem;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    width: 100%;
}

.side-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.win-check-container {
    display: flex;
    gap: 1rem;
}

.win-check {
    appearance: none;
    position: relative;
    width: 40px;
    height: 40px;
    background: white;
    border: 1px solid black;
    border-radius: 8px;
}

.win-check:checked {
    background: greenyellow;
}

.win-check::before {
    content: "✔";
    position: absolute;
    font-size: 2.4em;
    right: 5px;
    visibility: hidden;
}

.win-check:checked::before {
    visibility: visible;
}

dialog > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

dialog > div > p{
    margin: 10px;
}

dialog > div > button {
    margin-top: 20px;
}
